header#banner.hero-unit
  .container
    h1 'Allo, 'Allo!
    p.lead Kick-start your next web app with Angular Fullstack
    img(src='assets/images/yeoman.png', alt='I\'m Yeoman')

.container
  .row
    .col-lg-12
      h1.page-header Features:
      ul.nav.nav-tabs.nav-stacked.col-md-4.col-lg-4.col-sm-6(ng-repeat='post in $ctrl.posts')
        li
          a(href='#', uib-tooltip='{{post.body}}')
            | {{post.title}}
      ul(uib-pagination, total-items='1111111110', ng-model="currentPage", ng-change="pageChanged()")
