header#banner.hero-unit
  .container
    h1 'Allo, 'Allo!
    p.lead Kick-start your next web app with Angular Fullstack
    img(src='assets/images/yeoman.png', alt='I\'m Yeoman')

.container
  .row
    .col-lg-12
      h1.page-header Features:
      ul.nav.nav-tabs.nav-stacked.col-md-4.col-lg-4.col-sm-6(ng-repeat='post in $ctrl.posts.data')
        li
          img(ng-src="api/posts/{{ post._id }}/image")
          h2(href='#', uib-tooltip='{{post.title}}')
            | {{post.title}}
          p {{post.body}}
          .btns(ng-show="$ctrl.isLoggedIn()")
            .btn.btn-primary(ng-click="$ctrl.editPost(post)") Edit
            .btn.btn-danger Delete
  .row
    ul.col-lg-12.col-md-6(uib-pagination total-items="$ctrl.totalItems", ng-model="$ctrl.currentPage", ng-change="$ctrl.onChange()")
