.container
  .row
    form
      .form-group
        input.form-control(type="file", ng-model="$ctrl.image")
      .form-group
        label(for="title") Title
        input.form-control#title(type="text", ng-model="$ctrl.title")
      .form-group
        label(for="content") Content
        textarea.form-control#content(ng-model="$ctrl.body")
      .form-group
        button.btn.btn-success(ng-click="$ctrl.publishPost()") Publish
        button.btn.btn-primary(ng-click="$ctrl.saveNewPost()") Save
