.container
  .row
    .col-sm-12
      form(name="postForm")
        .form-group
          img.thumbnail(ngf-src="$ctrl.image", ngf-select ngf-size="{ width: 20, height: 20 }")
          input.form-control(type="file", ngf-select ng-model="$ctrl.image", name="postImage"
            ngf-accept="'image/*'"
            novalidate
            required)
        .form-group
          label(for="title") Title
          input.form-control#title(type="text", ng-model="$ctrl.title"
            name="title"
            novalidate
            ng-minlength="10", ng-maxlength="60"
            required)
          .message(ng-class="{'has-error': postForm.title.$invalid }")
        .form-group
          label(for="content") Content
          textarea.form-control#content(ng-model="$ctrl.body", ng-minlength="30", ng-maxlength="1000", required)
        .form-group
          button.btn.btn-success(ng-click="$ctrl.publishPost()") Publish
          button.btn.btn-primary(ng-click="$ctrl.saveNewPost()") Save
