script(src='http://cdnjs.cloudflare.com/ajax/libs/textAngular/1.5.0/textAngular-rangy.min.js')
script(src='http://cdnjs.cloudflare.com/ajax/libs/textAngular/1.5.0/textAngular-sanitize.min.js')
script(src='http://cdnjs.cloudflare.com/ajax/libs/textAngular/1.5.0/textAngular.min.js') 
.editor(text-angular ng-model="htmlVariable")
